[Unit]
Description=NSFOCUS Update Monitor
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory={{WORKDIR}}
EnvironmentFile={{WORKDIR}}/.env
ExecStart={{WORKDIR}}/venv/bin/python {{WORKDIR}}/run.py
Restart=on-failure
RestartSec=30
StartLimitBurst=5
StartLimitIntervalSec=60
MemoryMax=400M
StandardOutput=append:{{WORKDIR}}/logs/service_stdout.log
StandardError=append:{{WORKDIR}}/logs/service_stderr.log

[Install]
WantedBy=multi-user.target